.body{
    width: $ancho;
    height: $auto;
    background-color: $map-get($map: $paleta, $key:"principal");
}
.container{
    margin-top: 200px;
    gap: 20px;
    width: $ancho;
    height: $auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "img1 img1 img2 img2 img3 img3 publicidad publicidad"
    "img4 img4 img5 img5 img6 img6 publicidad publicidad"
    "img7 img7 img8 img8 img9 img9 publicidad publicidad"
    "proximamente proximamente proximamente proximamente proximamente proximamente publicidad publicidad";
}
img{
    margin: 4px;
    border: solid 2px rgb(178, 116, 116);
    width: $auto;
    height: $auto;
}
.img1{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    width: $ancho;
    height: $auto;
    grid-area: img1;
}
.img1:hover{
    border: solid 2px $img_color_hover;
}
.img2{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img2;
}
.img2:hover{
    border: solid 2px $img_color_hover;
}
.img3{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img3;
}
.img3:hover{
    border: solid 2px $img_color_hover;
}
.img4{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img4;
}
.img4:hover{
    border: solid 2px $img_color_hover;
}
.img5{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img5;
}
.img5:hover{
    border: solid 2px $img_color_hover;
}
.img6{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img6;
}
.img6:hover{
    border: solid 2px $img_color_hover;
}
.img7{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img7;
}
.img7:hover{
    border: solid 2px $img_color_hover;
}
.img8{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img8;
}
.img8:hover{
    border: solid 2px $img_color_hover;
}
.img9{
    display: flex;
    justify-content: center;
    background-color: $img_color;
    grid-area: img9;
}
.img9:hover{
    border: solid 2px $img_color_hover;
}
.publicidad{
    background-color: darkorange;
    grid-area: publicidad;
}
/*.publicidad__despegar{

}*/
.proximamente{
    display: flex;
    flex-direction: row;
    background-color: darkorange;
    grid-area: proximamente;
}