.imagenNosotros{
    width: $auto;
    height: $auto;
    margin-top: 15px;
    margin-left: 400px;
    border-left: 4px solid rgb(149, 151, 40);
}
.sectionNosotros{
    width: $ancho;
    height: $auto;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}
.section__nosotros--div{
    text-align: center;
}