@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100&display=swap');
@import "./keyframes";
@import "./variables";
@import "./normalize";
@import "./header";
@import "./nosotros";
@import "./contacto";
@import "./main";
@import "./footer";